
backend/WIWBBASIS/InnoSetup/*.exe
backend/WIWBFEEDBACK/InnoSetup/*.exe
backend/WIWBHERHALINGSTIJD/InnoSetup/*.exe
backend/WIWBNATIVERASTER/InnoSetup/*.exe
backend/WIWBRASTER2ASCII/InnoSetup/*.exe
backend/WIWBRASTERBYPOLY/InnoSetup/*.exe
backend/WIWBSTEDELIJK/InnoSetup/*.exe
backend/WIWBSTOCHASTEN/InnoSetup/*.exe
backend/WIWBTOETSING/InnoSetup/*.exe
backend/licenses/*

backend/References/*.exe

*.pyc
frontend/meteobase/python/mbase_api/stats_app_backupSB.py
frontend/meteobase/python/mbase_api/to_client/forcing.zip
frontend/meteobase/python/mbase_api/wiwb_raw/Evaporation.zip
frontend/meteobase/python/mbase_api/wiwb_raw/P.zip
frontend/meteobase/python/mbase_api/work_dir/Mete_grid.inp
frontend/meteobase/python/wiwb/wiwb_raw/P.zip
frontend/meteobase/python/wiwb/stats_lib.py.bak
frontend/meteobase/python/wiwb/stats_app.py.bak
